---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import UserIcon from '../components/icons/User.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import CodeIcon from '../components/icons/Code.astro';
import AboutMe from '../components/AboutMe.astro';
import MarcosSarLo from '../components/MarcosSarLo.astro';
---

<Layout title="Portfolio de MARCOSSARLO" description="Portafolio de Marcossarlo, ingeniero informático con experiencia en desarrollo web y gestión de plataformas de e-learning.">	
	<main class="px-4">
		<!-- Hero Section -->
		<SectionContainer class="py-30">
			<MarcosSarLo />			
		</SectionContainer>

		<!-- EXPERIENCIA -->
		<SectionContainer id="experiencia" class="py-20">
			<h2 class="text-2xl sm:text-3xl font-semibold mb-6 flex items-center gap-x-3">
				<BriefcaseIcon class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>	

		<!-- PROYECTOS -->
		<SectionContainer id="proyectos" class="py-20">
			<h2 class="text-2xl sm:text-3xl font-semibold mb-6 flex items-center gap-x-3">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>	
		<SectionContainer id="acerca-de-mi" class="py-20">
			<h2 class="text-2xl sm:text-3xl font-semibold mb-6 flex items-center gap-x-3">
				<UserIcon class="size-7" />
				Acerca de mí
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
