---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'Actualmente ...',
        title: 'Fondo Verde Internacional',
        subtitle: 'Director de Tecnologías de la Información',
        description: `
            <ul class="list-disc list-outside ml-4 space-y-2 marker:content-['✓'] marker:text-purple-400">
                <li class="pl-2"> Dirigí y ejecuté la implementación y administración de plataformas eLearning (Moodle).</li>
                <li class="pl-2">Supervisé la gestión de usuarios, creación de cursos y administración de contenidos.</li>
                <li class="pl-2">Lideré la implementación del portal web institucional mediante CMS Joomla.</li>
                <li class="pl-2">Gestioné el mantenimiento, funcionalidad y atractivo visual del portal.</li>
                <li class="pl-2">Realicé soporte técnico garantizando alta disponibilidad y resolución de problemas.</li>
            </ul>
        `,
        link: 'https://www.fondoverde.org',
    },
    {
        date: '2005 - 2009',
        title: 'Instituto Geofísico del Perú',
        subtitle: 'Operador de la Estación Central de Registro de la Red Sísmica Tablachaca – Mantaro',
        description: `
            <ul class="list-disc list-outside ml-4 space-y-2 marker:content-['✓'] marker:text-purple-400">
                <li class="pl-2">Operador de la Estación Central de Registro de la Red Sísmica – Mantaro.</li>
                <li class="pl-2">Procesamiento de sismos ocurridos.</li>
                <li class="pl-2">Observación de la operatividad de los sistemas de Sismología.</li>
            </ul>
        `,
        link: 'https://ultimosismo.igp.gob.pe/',
    },
];
---

<ol class="relative border-s border-gray-300 dark:border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))    
    }
</ol>