---
import SocialIconsFooter from "./SocialIconsFooter.astro";
---

<footer class="bottom-0 left-0 z-20 w-full bg-gray-900/90 backdrop-blur-sm border-t border-white/10">
    <div class="w-full mx-auto max-w-7xl p-4 flex items-center justify-between">
        <span class="text-sm text-gray-100 sm:text-center">© <a href="https://linkedin.com/in/marcossarlo" class="transition-colors duration-300 hover:text-purple-300">marcossarlo</a>
        </span>

        <SocialIconsFooter />
    </div>
</footer>
