---
import { Image } from 'astro:assets';
import marcossarloImg from '../assets/marcossarlo.jpg';
import Badge from './Badge.astro';
import SocialIcons from './SocialIcons.astro';
---
<Image
    class="rounded-full border-white border-3 size-20 mb-6"
    src={marcossarloImg}
    alt="Foto de Marcossarlo"
    loading="eager"
/>

<h1 class="text-3xl sm:text-4xl md:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hey, soy MARCOSSARLO <a href="https://linkedin.com/in/marcossarlo" target="_blank" rel="noopener noreferrer" class="flex justify-center items-center" title="Mira mi LinkedIn"><Badge>Disponible</Badge></a></h1>

<h2 class="text-xl sm:text-2xl text-wrap max-w-175"><span class="opacity-80">Ingeniero informático</span> con experiencia en <span class="text-purple-300">desarrollo web</span> y <span class="text-purple-300">gestión de plataformas de e-learning</span>.</h2>

<SocialIcons />