---
import { Image } from 'astro:assets';
import marcossarloImg from '../assets/marcossarlo.jpg';
import Badge from './Badge.astro';
import SocialIcons from './SocialIcons.astro';
---
<Image
    class="rounded-full border-white border-3 size-20 mb-6"
    src={marcossarloImg}
    alt="Foto de Marcossarlo"
    loading="eager"
/>

<h1 class="text-3xl sm:text-4xl md:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hey, soy <span class="bg-linear-to-r from-purple-300 to-purple-500 bg-clip-text text-transparent">marcossarlo</span> <a href="https://linkedin.com/in/marcossarlo" target="_blank" rel="noopener noreferrer" class="flex justify-center items-center" title="Mira mi LinkedIn"><Badge>dev</Badge></a></h1>

<h2 class="text-xl sm:text-2xl text-wrap max-w-175"><span class="opacity-80">Ingeniero informático</span> con experiencia en <span class="text-purple-300">desarrollo web</span> y <span class="text-purple-300">gestión de plataformas de e-learning</span>.</h2>

<!-- Arrow -->
<a href="#acerca-de-mi" class="absolute bottom-8 left-1/2 -translate-x-1/2 animate-bounce hover:text-purple-400 transition-colors duration-300" aria-label="Ir a experiencia">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down text-slate-500" aria-hidden="true"><path d="M12 5v14"></path><path d="m19 12-7 7-7-7"></path></svg>
</a>

<SocialIcons />