---
const { class: className, id } = Astro.props;
---
<!-- <section id={id} class={`${className} w-full md:w-185 mx-auto`}> -->
<section id={id} class={`${className} max-w-3xl mx-auto`}>
    <slot />
</section>