---
import LinkedInIcon from './icons/LinkedIn.astro';
import GitHubIcon from './icons/GitHub.astro';
import XIcon from './icons/X.astro';
---
<!-- <nav class="flex gap-x-2 mt-8"> -->
<nav class="flex gap-x-2">    
    <a href="https://linkedin.com/in/marcossarlo" title="Mira mi LinkedIn" target="_blank">
        <LinkedInIcon class="size-6 md:size-6" />
    </a>
    <a href="https://github.com/marcossarlo" title="Mira mi GitHub" target="_blank">
        <GitHubIcon class="size-6 md:size-6" />
    </a>
    <a href="https://x.com/marcossarlo" title="Mira mi Twitter" target="_blank">
        <XIcon class="size-6 md:size-6" />
    </a>
</nav>