* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	/* font-family: 'Rumiko', sans-serif; */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	background-color: #1c1828;
	color: #dcd7f2;
	padding: 0;
  }

.pattern-grid {
  background-color: #020617;
  background-image:
    linear-gradient(to right, rgba(71,85,105,0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(71,85,105,0.3) 1px, transparent 1px),
    radial-gradient(circle at 50% 50%, rgba(139,92,246,0.15) 0%, transparent 70%);
  background-size: 32px 32px, 32px 32px, 100% 100%;
  background-repeat: repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

  
  h1, h2, h3 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* font-family: 'Peachi', serif; */
  }
  h1 {
	color: #9775fa;
  }
  h2 {
	color: #6c5bb9;
	font-size: 1.5rem;
  }
  
  header {
	background: #2b273b;
	color: #fff;
	padding: 10px 0;
	position: fixed;  /* Fija el header */
	top: 0;
	width: 100%;
	z-index: 1000;  /* Asegura que esté por encima del contenido */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* Sombra para destacar */
  }
  
  nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
  }
  
  nav ul li {
	margin: 0 15px;
  }
  
  nav ul li a {
	color: #7d6ec5;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s;
  }
  
  nav ul li a:hover {
	color: #9775fa;
  }

 .msl {
	/* color: #ffffff; */
	font-weight: normal;
  }

  main {
	padding: 0 40px;
  }
  
  section {
	padding: 80px 0 20px;  /* Ajuste de espacio superior por el header */
	max-width: 800px;
	margin: auto;
  }

  #contact {
	padding: 80px 0 90px; 
  }
  
  #hero {
	text-align: center;
	margin-top: 30px;
  }
  #about {
	/* text-align: center; */
	margin-top: 30px;
  }
  
  .photo-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .photo-container img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 3px solid #9775fa;
	object-fit: cover;
  }
  
  #skills ul {
	list-style: square inside;
  }

  .skills-icons {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
  }
  
  .skills-icons li {
	margin: 10px;
	font-size: 24px;
	display: flex;
	align-items: center;
  }
  
  .skills-icons i {
	margin-right: 8px;
	color: #7d6ec5;
	transition: color 0.3s;
  }
  
  .skills-icons i:hover {
	color: #9775fa;
  }
  
  .social-links {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
  }
  
  .social-links li {
	margin: 0 10px;
  }
  
  .social-links a {
	color: #7d6ec5;
	font-size: 24px;
	transition: color 0.3s;
  }
  
  .social-links a:hover {
	color: #9775fa;
  }

  .project {
	background: #2b273b;
	color: #dcd7f2;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  footer {
	display: flex;
    justify-content: space-between;
	justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
    background: #9775fa;
    color: #1c1828;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
	margin: 0;
  }
  
  footer .social-links {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
  }
  
  footer .social-links li {
	margin: 0 10px;
  }
  
  footer .social-links a {
	color: #1c1828;
	font-size: 24px;
	transition: color 0.3s;
  }
  
  footer .social-links a:hover {
	color: #dcd7f2;
  }

/* Estilos para el icono de hamburguesa */
.hamburger {
	display: none;
	font-size: 25px;
	background: none;
	border: none;
	color: #7d6ec5;
	padding: 0 30px;
	cursor: pointer;
  }

/* Estilos para vistas más pequeñas */
@media (max-width: 838px) {
	.hamburger {
	  display: block;
	}
  
	nav ul {
	  display: none;
	  flex-direction: column;
	  align-items: center;
	}
  
	nav ul.show {
	  display: flex;
	}
  
	nav ul li {
	  margin: 10px 0;
	}
	.msl {
		display: none;
	}
	.msl1 {
		color: #ffffff;
	}

  }

  
